body{
    background: silver;
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Monoton', cursive;
}

.container  {
    border: 960 px solid white;
    margin: auto;
    padding-top: 20 px;
    font-size: 100%;
}

.btn-primary {
    background: purple;
}

    
